{
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "globals": {
        "console": "readonly",
        "process": "readonly"
    },
    "env": {
        "es6": true,
        "node": true
    },
    "rules": {
        "no-extra-parens": "error",
        "no-console": "off",
        "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
        "no-template-curly-in-string": "error",
        "array-callback-return": "error",
        "block-scoped-var": "error",
        "class-methods-use-this": "error",
        "complexity": "warn",
        "consistent-return": "error",
        "dot-notation": "error",
        "eqeqeq": "error",
        "no-else-return": "error",
        "no-empty-function": "error",
        "no-floating-decimal": "error",
        "no-invalid-this": "error",
        "no-labels": "error",
        "no-loop-func": "error",
        "no-multi-spaces": "error",
        "no-self-compare": "error",
        "no-useless-return": "error",
        "no-void": "error",
        "require-await": "error",
        "require-jsdoc": "warn",
        "wrap-iife": "error",
        "yoda": "error",
        "strict": "error",
        "array-bracket-newline": ["error", "consistent"],
        "array-bracket-spacing": ["error", "never"],
        "brace-style": ["error", "1tbs"],
        "comma-spacing": ["error", { "before": false, "after": true }],
        "computed-property-spacing": ["error", "never"],
        "eol-last": "error",
        "func-call-spacing": ["error", "never"],
        "func-style": "error",
        "indent": ["error", 4],
        "key-spacing": "error",
        "keyword-spacing": "error",
        "line-comment-position": "error",
        "lines-between-class-members": "error",
        "max-len": ["error", 120],
        "new-parens": "error",
        "no-lonely-if": "error",
        "no-multi-assign": "error",
        "no-multiple-empty-lines": "error",
        "no-trailing-spaces": "error",
        "no-unneeded-ternary": "error",
        "no-whitespace-before-property": "error",
        "nonblock-statement-body-position": "error",
        "operator-linebreak": ["error", "before"],
        "padded-blocks": ["error", "never"],
        "prefer-const": "error",
        "prefer-spread": "error",
        "prefer-arrow-callback": "error",
        "quote-props": ["error", "as-needed"],
        "quotes": ["error", "single"],
        "semi": ["error", "never"],
        "space-before-function-paren": "error",
        "space-in-parens": "error",
        "space-infix-ops": "error",
        "spaced-comment": "error",
        "arrow-parens": ["error", "as-needed"],
        "arrow-spacing": "error",
        "no-var": "error",
        "object-shorthand": "error",
        "prefer-template": "error",
        "template-curly-spacing": ["error", "never"]
    }
}